<div id="content-header">
  <header>
    <h1>Artemis Platform</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <%= if has?(@conn, "standups:create") do %>
    <%= action "New Standup", to: Routes.standup_path(@conn, :new), color: "blue" %>
  <% end %>
</div>
