<div id="content-header">
  <header>
    <h1>
      <%= @team.name %>
    </h1>

    <div class="actions">
      <%= if has?(@conn, "teams:delete") do %>
        <%= delete_confirmation "Delete", Routes.team_path(@conn, :delete, @team) %>
      <% end %>
      <%= if has?(@conn, "teams:update") do %>
        <%= action "Edit", to: Routes.team_path(@conn, :edit, @team), color: "green" %>
      <% end %>
    </div>
  </header>
</div>
