<div id="content-header">
  <header>
    <h1>Site</h1>
  </header>
</div>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>

  <nav id="primary-footer-navigation" role="navigation">
    <%= render_footer_nav(@conn, current_user(@conn)) %>
  </nav>
</div>
