<%
  entries =
    @event_answers
    |> Enum.map(&"*#{&1.event_question.title}* _#{&1.user.name}_ #{&1.value}")
    |> Enum.join("\\n")

  project_title = if is_map(@project), do: @project.title, else: "Other"

  text = ":star: *#{project_title}*\\n\\n#{entries}"
%>
{
  "blocks": [
    {
      "type": "divider"
    },
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "<%= text %>"
      }
    }
  ]
}
