<main role="main" class="splash-page">
  <section>
    <h1>
      Artemis Teams
    </h1>
    <ul class="providers">
      <%= for provider <- list_auth_providers(@conn) do %>
        <li>
          <%= action provider.title, to: provider.link, basic: false, color: "gray", size: "medium" %>
        </li>
      <% end %>
    </ul>
  </section>
</main>
