<div id="content-header">
  <header>
    <h1>Events</h1>

    <div class="actions">
      <%= if has?(@conn, "event-templates:create") do %>
        <%= action "New", to: Routes.event_path(@conn, :new), color: "blue" %>
      <% end %>
    </div>
  </header>
</div>
