<%= render "show/_header.html", assigns %>

<div id="content-navigation">
  <%= render_breadcrumbs @conn %>
  <%= render_presence @conn %>
</div>

<div id="content">
  <%= render_flash_notifications @conn %>
  <%= render_event_log_notifications @conn, "Recognition", @recognition.id %>

  <%= live_render_recognition_cards(@conn, recognitions: [@recognition]) %>
</div>
