<div id="content-header">
  <header>
    <h1>Teams</h1>

    <div class="actions">
      <%= if has?(@conn, "teams:create") do %>
        <%= action "New", to: Routes.team_path(@conn, :new), color: "blue" %>
      <% end %>
    </div>
  </header>
</div>
