<%= for recognition <- @recognitions do %>
  <%=
    live_component(
      @socket,
      ArtemisWeb.RecognitionCardComponent,
      id: recognition.id,
      comments: @comments,
      recognition: recognition,
      user: @user
    )
  %>
<% end %>
