<div id="content-header">
  <header>
    <h1>Recognitions</h1>

    <div class="actions">
      <%= if has?(@conn, "recognitions:create") do %>
        <%= action "New Recognition", to: Routes.recognition_path(@conn, :new), color: "blue" %>
      <% end %>
    </div>
  </header>
</div>
