<%= render "index/_header.html", assigns %>

<div id="content-navigation">
  <%# <%= render_breadcrumbs @socket %1> %>
  <%# <%= render_presence @socket %1> %>
</div>

<div id="content">
  Hello World!
</div>
