<%=
  secondary_navigation_items = [
    [
      label: "Overview",
      path: &Routes.project_path(&1, :index),
      path_match_type: :exact,
      verify: &has?(&1, "projects:list")
    ]
  ]

  render_secondary_navigation(
    @conn,
    current_user(@conn),
    secondary_navigation_items
  )
%>
