<%=
  secondary_navigation_items = [
    [
      label: "Overview",
      path: &Routes.event_path(&1, :show, @event_template),
      path_match_type: :exact,
      verify: &has?(&1, "event-templates:show")
    ]
  ]

  render_secondary_navigation(
    @conn,
    current_user(@conn),
    secondary_navigation_items
  )
%>
