<div class="ui icon message">
  <%= unless assigns[:icon?] == false do %>
    <i class="warning sign icon"></i>
  <% end %>
  <div class="content">
    <%= unless assigns[:header?] == false do %>
      <div class="header">
        <%= assigns[:header] || "Error" %>
      </div>
    <% end %>
    <p><%= assigns[:body] || assigns[:do] %></p>
  </div>
</div>
