<form class="<%= search_class(@conn) %>" action="<%= @conn.request_path %>" method="get">
  <div class="ui icon input">
    <i class="search link icon"></i>
    <input name="query" id="query" type="text" value="<%= Map.get(@conn.query_params, "query") %>" />
  </div>
</form>
