<div id="content-header">
  <header>
    <h1>
      <%= @event_template.title %>
      <span class="subheading">Integrations</span>
    </h1>

    <div class="actions">
      <%= if has?(@conn, "event-integrations:create") do %>
        <%= action "New Integration", to: Routes.event_integration_path(@conn, :new, @event_template), color: "blue" %>
      <% end %>
    </div>
  </header>

  <%= render ArtemisWeb.EventView, "show/_secondary_navigation.html", assigns %>
</div>
