html,
body {
  background: #fff;
}

div,
section,
article,
content,
pre,
code {
  min-width: 0;
}

#body h2 {
  border-bottom: 1px solid $blue_muted;
  font-size: 1.75rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
}

#body h3 {
  font-size: 1.625rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 0 0 0.5rem 0;
}

/* === Login + Errors === */

main.splash-page {
  align-items: center;
  background: linear-gradient(100deg, $gradient_blue, $gradient_teal);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -5%;
    padding: 2rem;

    h1 {
      color: #fff;
      font-size: 4.25rem;
      font-weight: 300;
      margin: 0 0 1.25rem 0;
      padding: 0 1rem 0 0;
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.08);

      .emphasis {
        font-weight: 600;
      }

      .icon {
        font-size: 0.875em;
        margin-right: 0.125em;
      }
    }

    .message {
      margin: 0 0 1rem 0;
    }

    ul.providers {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 0.5rem 0;

        .ui.button {
          background: rgba(0, 0, 0, 0.37);
          color: #fff;

          &:hover {
            background: #fff;
            color: #333;
          }
        }
      }
    }
  }
}

/* === Header === */

#primary-header {
  $background: #fff;
  $height: 3.75rem;
  $logo_width: 174px;

  section {
    display: flex;
    justify-content: space-between;
    height: $height;
    padding: 0 calc(#{$page_padding} - 2rem);

    #logo {
      background: $background;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-shrink: 0;
      font-size: 15px;
      font-weight: 500;
      height: $height;
      line-height: $height;
      padding: 0 0 0 2rem;
      width: $logo_width;

      strong {
        color: rgba(0, 0, 0, 0.9);
        display: inline-block;
        margin-right: 2px;
        font-weight: 600;
      }
    }

    #primary-navigation {
      background: $background;
      height: $height;
      flex-grow: 0;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;

      & > ul {
        background: $background;
        height: $height;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      & > ul > li {
        display: inline-block;
        float: left;
      }

      & > ul > li > a {
        border-bottom: 2px solid #fff;
        color: #333;
        display: block;
        height: $height;
        padding: 0 1rem 0 1rem;
        line-height: $height;
        text-decoration: none;
      }

      & > ul > li.with-dropdown > a {
        padding: 0 0.125rem 0 0.875rem;

        .dropdown.icon {
          display: inline-block;
          font-size: 0.875rem;
          opacity: 0.2;
        }
      }

      & > ul > li:hover > a {
        color: $gradient_blue;
      }

      & > ul > li.with-dropdown:hover > .dropdown-screen,
      & > ul > li.with-dropdown:hover > .dropdown {
        display: block;
      }

      & > ul > li.with-dropdown > .dropdown {
        background: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: none;
        left: calc(0px - #{$logo_width} + 2rem);
        min-width: 100%;
        position: absolute;
        top: $height;
        width: calc(86vw);
        z-index: 1000;

        background: linear-gradient(90deg, $gradient_blue, $gradient_teal);
        color: #fff;

        content {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          padding: 2rem;
          padding: 2rem 0;
          text-align: left;

          header {
            border-radius: 4px;
            display: flex;
            display: none;
            flex-direction: column;
            padding: 0 0 1rem 0;
            margin-right: 0rem;
            text-align: center;
            width: 260px;

            border-right: 1px solid #eee;
            padding-right: 2rem;

            i {
              display: none;
              font-size: 1.5rem;
              opacity: 0.3;
            }

            h3 {
              font-size: 1.75rem;
              margin: 0 0 0.75rem 0;
            }

            p {
              font-size: 13px;
            }
          }

          .primary-navigation-items{
            flex-flow: row wrap;

            article {
              padding: 0 2rem;

              h5 {
                font-size: 15px;
              }

              a {
                color: #fff;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        footer {
          background: linear-gradient(90deg, $gradient_blue, $gradient_teal);
          background: #e2e2e2;
          height: 1px;
          width: 100%;
        }
      }
    }

    .expanding-container {
      align-self: center;
      background: $background;
      display: flex;
      flex-grow: 1;
      height: $height;
      padding: 0 0.5rem 0 2rem;

      #quick-search {
        align-self: center;
        background: $background;
        display: flex;
        flex-grow: 1;
        height: $height;
        justify-content: flex-end;
        line-height: $height;

        form {
          width: 100%;

          div.input {
            width: 100%;

            input {
              background: $background;
              border-color: $background;
              transition: all 0.2s;
              width: 100%;

              &:active,
              &:focus {
                background: #f0f0f4;
              }
            }

            i {
              opacity: 1;
            }
          }

          &.active div.input input {
            border-color: #e2e2e2 !important;
          }
        }

        &:hover input {
          background: #f0f0f4 !important;
        }
      }
    }

    #icon-navigation {

      ul {
        background: $background;
        display: flex;
        height: $height;
        line-height: $height;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          line-height: $height;

          a {
            color: #333;
            display: flex;
            height: $height;
            line-height: $height;
            padding: 0 0.25rem;

            i {
              align-items: center;
              align-self: center;
              background: inherit;
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              transition: all 0.2s;
              padding: 1.25rem;
            }

            &:hover > i {
              background: #333;
            }
          }

          &:hover > a {
            color: #fff;
            height: $height;
            line-height: $height;
          }
        }
      }
    }

    #user-navigation {
      background: $background;
      font-size: 0.875rem;
      padding: 0 0.75rem 0 0;

      ul {
        background: $background;
        height: $height;
        line-height: $height;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          line-height: $height;

          a {
            color: #333;
            display: flex;
            height: $height;
            line-height: $height;

            .content-container {
              align-self: center;
              border-radius: 1.25rem;
              display: block;
              height: 1rem !important;
              line-height: 0;
              padding: 1.25rem;

              i {
                margin-right: 1rem;
              }
            }

            &:hover .content-container {
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }
  }

  footer {
    background: linear-gradient(90deg, $gradient_blue, $gradient_teal);
    background: #e2e2e2;
    height: 1px;
    width: 100%;
  }
}

body.error-page {

  #primary-header {

    footer {
      background: linear-gradient(90deg, #f00, #b00, #f00);
      background-size: 200% 200%;
    }
  }
}

/* === Sidebar === */

.ui.sidebar {
  transition-duration: 250ms !important;
}

/* === Content === */

#content-header {
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  padding: 1.5rem $page_padding;
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;

    h1 {
      color: $light_blue;
      font-size: 2rem;
      font-weight: 300;
      margin: 0;

      .subheading {
        color: #777;
      }
    }

    .actions {
      display: flex;

      a,
      button {
        align-self: center;
        margin: 0 0 0 0.5rem;
      }
    }
  }

  nav {
    $height: 4rem;

    background: #fff;
    font-size: 14.5px;
    height: $height;
    margin: 0.25rem 0 -1.5rem 0;
    width: 100%;

    ul {
      display: flex;
      height: 100%;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        align-self: center;
        color: #555;
        display: flex;
        height: 100%;
        line-height: $height;

        &.icon {
          margin-right: 1.5rem;
        }

        a {
          align-items: center;
          color: #555;
          display: flex;
          font-weight: 500;
          height: 100%;
          margin: 0 1.5rem 0 0;

          .count-label {
            display: flex;
            flex-direction: row;

            .label {
              align-self: center;
              font-weight: 500;
              margin: 0 0 0 0.5rem;
              min-width: 1.625rem;
              height: 1.5rem;
              text-align: center;

              &.grey {
                background: #e8e8e8 !important;
                color: #888 !important;
              }
            }
          }

          &:hover {
            text-decoration: underline;

            .label.grey {
              background: $blue !important;
              color: #fff !important;
            }
          }

          &.selected {
            color: #111 !important;
            font-weight: 700;

            .label.grey {
              background: #ddd !important;
              color: #333 !important;
            }
          }
        }
      }
    }
  }
}

#content-navigation {
  $height: 4rem;

  background: $content_background;
  display: flex;
  justify-content: space-between;
  padding: 0 calc(0.25rem + #{$page_padding});
  margin: 0 0 -2rem 0;

  .breadcrumbs {
    font-size: 13px;
    display: flex;
    height: $height;
    list-style: none;
    margin: 0;
    padding: 0 2rem 0 0;

    li {
      display: flex;
      align-self: center;
      color: #706f79;
      font-weight: 400;
      height: $height;
      line-height: $height;

      &:last-child::after {
        content: "";
        margin: 0;
      }

      &::after {
        align-self: center;
        color: #ccc;
        content: " / ";
        display: inline-block;
        margin: 0 8px;
      }

      a {
        align-self: center;
        color: #666;
        display: inline-block;
        font-weight: 500;

        &:hover {
          color: $blue;
        }

        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .page-data-info {
    display: flex;
    flex-grow: 1;
    height: $height;
    justify-content: flex-end;
    margin: 0 1rem 0 0;
    white-space: nowrap;

    align-items: center;
    align-self: center;
    color: #666;
    font-size: 13px;
    height: 100%;

    > * {
      margin-left: 0.25rem;
    }

    .icon {
      font-size: 1rem;
    }
  }

  .presence {
    display: flex;
    height: $height;
    justify-content: flex-end;
    margin: 0;

    .presence-dropdown-container {
      align-items: center;
      display: flex;
      height: $height;
      justify-content: flex-end;
      margin: 0;

      a.dropdown {
        align-items: center;
        align-self: center;
        color: #666;
        display: flex;
        font-size: 13px;
        height: 100%;

        .icon {
          font-size: 1rem;
          height: 1.25rem;
          margin: 0 0.75rem 0 0;
        }
      }
    }
  }
}

#content {
  background: $content_background;
  padding: 2rem $page_padding 1rem $page_padding;

  &>section,
  &>article>section,
  &>article>content>section,
  &>article>row>section,
  &>article>aside>section,
  .card {
    background: #fff;
    border: 1px solid #e2e2e2;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 0 0 1rem 0;
    padding: 1.5rem;

    &>*:first-child {
      margin-top: 0 !important;
    }

    &>*:last-child {
      margin-bottom: 0;
    }
  }

  &>article>row {
    display: flex;
    flex-direction: row;
    width: 100%;

    &>section {
      margin-right: 1rem;
    }

    &>section:last-child {
      margin-right: 0;
    }
  }

  section {
    margin: 0 0 1rem 0;
  }

  &.pool {
    background: #f2f2f6;
    margin: 0;
    padding: 2rem 2rem 1.5rem 2rem;

    section {
      background: #fff;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      margin: 0 0 1rem 0;
      padding: 1.25rem 2rem 1rem 2rem;
    }
  }

  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>aside {

      .heading-container {
        margin: 1rem 0 1rem 0;

        h5 {
          margin: 0;
        }
      }
    }

    &>aside,
    &>content {
      &>section {
        margin-top: 1rem;
      }

      &>section:first-child {
        margin-top: 0;
      }
    }

    &>content {
      width: 100%;
    }

    &>aside.left {
      min-width: 300px;
      margin-right: 1.5rem;

      &.narrow {
        min-width: 260px;
      }

      .buttons {
        width: 100%;
      }
    }

    &>aside.right {
      min-width: 300px;
      margin-left: 1.5rem;

      &.narrow {
        min-width: 260px;
      }

      .buttons {
        width: 100%;
      }
    }
  }
}

#primary-footer {

  .content {
    border-top: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3rem $page_padding 3rem $page_padding;

    .about {
      font-size: 15px;
      margin-right: 24px;
      max-width: 40%;

      h3 {
        font-size: 1.5rem;
      }

      p {
        margin: 1rem 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        margin: 1rem 0;
        padding: 0;

        li {
          margin: 0;
          padding: 0;
        }
      }
    }

    #primary-footer-navigation {
      display: flex;
      flex-grow: 1;
      max-height: 300px;
    }
  }

  .footer {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 2rem $page_padding;

    & > div {
      display: flex;
    }

    .user-link {
      display: inline-block;
      margin: 0 0 0 5px;
    }
  }
}
