/* Semantic UI */

body {
  font-family: 'Nunito', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #988b75;
}

a {
  color: $light_blue;
}

.ui.message {
  margin-bottom: 1.5rem;
}

/* Button Colors */

.ui.button.red:hover { background-color: #d26a5c; }
.ui.button.red { background-color: #ca4f3e; }

.ui.button.orange:hover { background-color: #f3b760; }
.ui.button.orange { background-color: #f0a73c; }

.ui.button.green:hover { background-color: #46c37b; }
.ui.button.green { background-color: #38ab69; }

.ui.button.blue:hover { background-color: #70b9eb; }
.ui.button.blue { background-color: #4ea9e6; }

.ui.button.primary:hover { background-color: #70b9eb; }
.ui.button.primary { background-color: #4ea9e6; }

/* Select 2 */

select {
  min-height: 38px !important;
}

.select2 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;

  .select2-selection {
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
    min-height: 38px;
    min-width: 120px;
  }

  .select2-selection__rendered {
    margin: 4px 0 0 4px;
  }

  .select2-selection__arrow {
    margin: 4px 4px 0 0;
  }

  .select2-selection--multiple {

    .select2-selection__choice {
      background: #fff;
      border: none;
      margin: 0.5rem 0.5rem 0 0;
      padding: 0;
    }

    .select2-selection__rendered {
      padding: 0 1rem;
    }

    .select2-search__field {
      border: none !important;
      padding: 9px 0 0 0 !important;
    }
  }
}
